/* common section */

*{
    max-width: 1350px;
    margin: auto;

   
}
/* button section */
.btn{
    
    border-radius: 5px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.btn:hober{
    background-color: #555555;
    
}

.my-btn{
    background-color: #30B868;
}

/* Navbar-saction */
.navbar{
    display: flex;
    align-items: center;
    padding: 16px 120px 16px 120px  

}
.navbar img{
    margin: 10px;
}

.nav-tag{
    display: flex;
    gap: 50px;
    font-weight:500;

}
.ban-btn{
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
}


/* HERO BACKGROUND */
.hero_image {
    min-height: 100vh;
    background: 
        url("./assets/hero-bg.png") no-repeat; 
    /* background-size: 100%; */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 5;
 
}

/* CONTENT WRAPPER */
.hero_wrapper {
    max-width: 900px;
    text-align: center;
}


.Early-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 18px;
    border-radius: 30px;
    background: #ffffff;
    color: #2f9e44;
    font-weight: 600;
    border: none;
    margin-bottom: 25px;
    cursor: pointer;
}

.hero_wrapper h1 {
    font-size: 56px;
    font-weight: 800;
    margin: 0;
    line-height: 1.2;
}

.hero_wrapper .highlight {
    color: #2f9e44;
}


.hero_wrapper p {
    font-size: 18px;
    color: #d1d5db;
    margin: 25px auto;
    max-width: 700px;
    line-height: 1.6;
}

.hero_btn {
    display:contents;
    justify-content: center;
    
}


.primary-btn {
    background: #2f9e44;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 189;
    cursor: pointer;
}

.secondary-btn {
    background: transparent;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 136;
    cursor: pointer;
}



