/* Universal selector */
* {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}
body {
  background-color: #f5f5f5;
}


.container {
  max-width: 1350px;
  margin: auto;
}
.my-btn {
  border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  border: 1px solid #006a50;
  color: #006a50;
  background-color: #30B868;
}
.my-btn-2 {
  border-radius: 8px;
  font-weight: 600;
  background: rgba(0, 106, 80, 1);
  color: white;
  padding: 12px 25px;
  max-width: max-content;
}

.btn{
    
    border-radius: 5px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.btn:hober{
    background-color: #555555;
    
}


header {


  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.nav-tag{
    display: flex;
    gap: 50px;
    font-weight:500;

}






/* HERO SECTION */
.hero-parent {
    flex-direction: column;
    background: url("./assets/hero-bg.png") no-repeat rgba(0, 25, 49, 0.8);
    padding: 70px;
    margin: 20px auto;   
}
.hero-parent h1{
    margin: 10px 0;
}
.hero-parent p{
    margin: 10px 0;
    font-size: 18px;
    font-style: normal;
}
.hero-up{
    text-align: center;
}
.hero_btn{
    text-align: center;
}
.Early-btn{
    text-align: center;
    justify-content: center;
    border-radius: 1000px;
    padding: 5px;
    border-radius: 1000px;
    color: #30B868;
    font-weight: 183px;
    margin: 10px 0;

}
.primary-btn{
    background-color: #30B868;
    padding: 5px;
    color: white;
    font-size: 10px;
}
.secondary-btn{
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    border-color: white;
}
.hero_btn{
    padding: 10px 0;
    justify-content: space-around;
}